.posts {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 50%;
  margin: auto;
  border: black 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.new-button {
  align-items: center;
  width: 53%;
  font-size: 18px;
}

.header-gif {
  margin: auto;
  display: flex;
  align-items: center;
}
